.subheading {
    margin-bottom: 0px;
}

.profile-image {
    width: 300px;
    text-align: center;
}

@media (min-width: 768px) {
    .profile-image {
        width: 450px;
    }
}
@media (min-width: 992px) {
    .card {
        height: 475px;
    }
    .profile-image {
        width: 325px;
    }
}
@media (min-width: 1200px) {
    .card {
        height: 375px;
    }
}

.underline {
    text-decoration: underline;
}
.card-template {
    display: none;
}
